<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Sales\Model\Order\Payment\Info" type="SilkSoftware\ModuleName\Model\Magento\Sales\Order\Payment\Info" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="log_listing_data_source" xsi:type="string">Magento\BilliePaymentMethod\Model\ResourceModel\Log\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\BilliePaymentMethod\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">billie_transaction_log</argument>
            <argument name="resourceModel" xsi:type="string">Magento\BilliePaymentMethod\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>

</config>