<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="sales_order_shipment_after"
                  instance="Billiepayment\BilliePaymentMethod\Observer\ShipOrder" />
    </event>
    <event name="sales_order_payment_cancel_creditmemo">
        <observer name="sales_order_payment_cancel_creditmemo"
                  instance="Billiepayment\BilliePaymentMethod\Observer\CancelOrder" />
    </event>
    <event name="sales_order_payment_refund">
        <observer name="sales_order_payment_refund"
                  instance="Billiepayment\BilliePaymentMethod\Observer\UpdateOrder" />
    </event>
</config>